@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contacter un admin</strong>   <a href="jerome.admin@filrouge.com">jerome.admin@filrouge.com</a><br />
</address>